


*{
    box-sizing: border-box;  /* Hace que el padding y border se incluyan dentro del ancho/alto del elemento */
    font-family: 'Work Sans';  /* Define la fuente principal para todo el sitio */
    margin: 0px;  /* Elimina los márgenes por defecto (hay un error: debería ser en minúscula: margin) */
    padding: 0; /* Elimina los rellenos por defecto */
}

html{
    /* Desliza en los clicks del menu*/
    scroll-behavior: smooth; /* Hace que el desplazamiento al hacer clic en enlaces internos sea suave */
}


/* Personalizador de menu   */

.contenedor-header{
    background: #1e2326;
    position:fixed;
    width: 100%;  
    top: 0;
    left: 0;
    z-index:99;
}

.contenedor-header header{
    max-width: 1100px;  /* Ancho máximo del contenido del encabezado */
    margin : auto;  /* Centra el contenido horizontalmente: si quisiera todo pegado a la izquierda lo omito*/
    display: flex;  /* Usa flexbox para organizar los elementos hijos en línea horizontal */
    justify-content: space-between;   /* Espacia los elementos a los extremos (izquierda y derecha) */
    align-items: center; /* Centra verticalmente los elementos dentro del encabezado */
    padding: 15px 20px;
}


/* por jerarquia solo la letra osea */
.contenedor-header header .logo a{
    font-family: 'Righteous'; /* tipo de letra*/
    font-size: 40px; /* tamaño */
    color:#1CB968; 
    text-decoration: none;
}



.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: white;
    margin:  0 15px;
    padding: 2px;  /* distancia entre los elementos que estan en el nav */
    transition: .5s;  /* duracion de una animacion */
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #1CB968;
}


.contenedor-header header .nav-responsive{
    background-color: #1CB968;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer; /* como se pone el cursor cuando está encima */
    display:none;
}

/* Seccion inicio */

.inicio{
    background: linear-gradient(to top,rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(imagenes/fondo\ web.jpeg);
    background-size: cover; /* Para cubrir toda la pagina con el fondo */
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width:250px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}


.inicio .contenido-banner{
    margin-top: 40px;
    display: block;
    width: 100%;
    margin: auto;
}


.inicio .contenido-banner .contenidodelaimagen img{
    margin-top:40px;
    border: 2px solid #1CB968;
    display: block;
    margin: auto;
    width: 70%; 
}

.inicio .contenido-banner h1{
    margin-top: 40px; /* Empuja el elemento hacia abajo separándolo del elemento que está encima de él.  */
    font-size: 38px;
    font-family: 'Righteous';
}


.inicio .contenido-banner h2{
    font-size: 18px;
}

.inicio .contenido-banner h3{
    margin-top: 11px;
    font-size: 11px;
}



.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .2s;
}


.inicio .contenido-banner .redes a:hover{
    background-color: #1CB968;
}

.sobre_mi{
    background-color: #1e2326;
    color:#fff;
    padding:50px 20px;
}

.sobre_mi .fila{
    display: flex;
}

.sobre_mi .contenedor-sobre_mi{
    max-width: 1100px;
    
    margin: auto;
}

.sobre_mi h2{
    font-family:'Righteous';
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

.sobre_mi .contenedor-sobre_mi p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}


.sobre_mi .fila .columna{
    width: 50%;
}

.sobre_mi h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobre_mi .fila .columna ul{
    list-style-type: none;
}

.sobre_mi .fila .columna ul li{
    margin: 12px 0;
}



.sobre_mi .fila .columna ul li strong{
    display: inline-block;
    color:#1CB968;
    width: 130px;
}

.sobre_mi .fila .columna ul li span{
    background-color:#1CB968;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}


.sobre_mi .fila .columna .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobre_mi .contenedor-sobre_mi .contenedor-intereses .interes{
    width: 195px;
    height: 75px;
    background-color: #252A2E;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobre_mi .fila .contenedor-intereses .interes:hover{
    background-color: #1CB968;
}

.sobre_mi .fila .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}


.sobre_mi .contenedor-sobre_mi button{
    cursor: pointer;
    background-color: transparent;
    border:2px solid #fff;
    width: fit-content;
    display:block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color:#fff;
    position: relative;
    z-index:10;
}


.sobre_mi .contenedor-sobre_mi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB968;
    z-index: -1;
    transition: 1s;
}

.sobre_mi .contenedor-sobre_mi button:hover .overlay{
    width:100%;
}



/* Seccion skills */

.skills{
    background-color: #1e2720;
    color:#fff;
    padding:50px 20px;
}

.skills .contenedor-habilidades{
    max-width: 1100px;
    margin:auto;
}
.skills .contenedor-habilidades h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0px;
}

.skills .contenedor-habilidades .fila{
    display: flex;
}

.skills .contenedor-habilidades .fila .columna{
    width: 50%;
    padding: 0px 20px;
}

.skills .contenedor-habilidades .fila .columna h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .contenedor-habilidades > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .contenedor-habilidades .barra-skill{
    height: 8px;
    width: 80%;
    background-color:#131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .barra-skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width:100%;
}

.skills .contenedor-habilidades .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top:-17px;
    right:-15px;
    font-size: 14px;
}



/* Se agregara automaticamente por medio de javascript */


.skills .contenedor-habilidades .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript{
    0%{width:0%;}
    100%{width:75%;}
}

.skills .contenedor-habilidades .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0%{width:0%;}
    100%{width:85%;}
}

.skills .contenedor-habilidades .cmasmas{
    width: 0%;
    animation: 2s cmasmas forwards;
}

@keyframes cmasmas{
    0%{width:0%;}
    100%{width:95%;}
}


.skills .contenedor-habilidades .gsap{
    width: 0%;
    animation: 2s gsap forwards;
}

@keyframes gsap{
    0%{width:0%;}
    100%{width:75%;}
}

.skills .contenedor-habilidades .sql{
    width: 0%;
    animation: 2s sql forwards;
}

@keyframes sql{
    0%{width:0%;}
    100%{width:75%;}
}

.skills .contenedor-habilidades .kotlin{
    width: 0%;
    animation: 2s kotlin forwards;
}

@keyframes kotlin{
    0%{width:0%;}
    100%{width:90%;}
}

.skills .contenedor-habilidades .python{
    width: 0%;
    animation: 2s python forwards;
}

@keyframes python{
    0%{width:0%;}
    100%{width:80%;}
}


.skills .contenedor-habilidades .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}

@keyframes teamwork{
    0%{width:0%;}
    100%{width:80%;}
}

.skills .contenedor-habilidades .scrummaster{
    width: 0%;
    animation: 2s scrummaster forwards;
}

@keyframes scrummaster{
    0%{width:0%;}
    100%{width:85%;}
}


/* Seccion Curriculum */

.curriculum{
    background-color: #131517;
    color:#fff;
    padding: 50px 20px;
}

.curriculum .contenedorcurriculum{
    max-width: 1100px; /*  este es el ancho del contenedor que tiene toda la informacion de adentro hacia afuera */ 
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0px 20px;
}

.curriculum .fila .derecha{
    border-left: 2px solid #252a2e;

}

.curriculum .fila .izquierda{
    border-right: 2px solid #252a2e;
    
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .lugar{
    color:#1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .fila .derecha{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}


.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}



/* seccion portafolio */




.portafolio{
    background-color: #252A2E;
    color:#ffff;
    padding: 50px 20px;
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portafolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0 ;
}


.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;  /* <- aquí permitimos que los elementos bajen de línea */
    justify-content: space-around;
}


.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    
}

.portafolio .titulo{
    padding: 20px 0;
}





.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}






.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8),rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}




.portafolio .galeria .proyecto .overlay h3{ 
    margin-bottom: 20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
